:root{
    --link-color: darkslateblue
}
.posts{
    margin: 5% 10%;
    padding-left: 40px;
    padding-right: 40px;
}

.posts-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    padding: 5px;
}

.posts-body{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.post-summary{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.post-summary p{
    margin-top: 3px;
}

.post-info{
    justify-self: center;
    padding-top: 10%;
}

.new-post-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-bottom: 2%;
    --link-color: darkslateblue
}

.new-post-container .new-post-button{
    grid-column-start: 1;
    justify-self: start;
    text-decoration-line: none;
    /* border: 1.5px solid black; */
    /* border-radius: 10% 10% 10% 10%; */
    padding: 5px;
    margin-bottom: 10px;
    width: 20%;
    height: 40px;
    text-align: center;
    /* color:var(--link-color) */
}

.new-post-container .new-post-button:visited{
    /* color:var(--link-color) */
}

/* Individual post style */

.post{
    border: 2px solid black;
    margin-bottom: 5px;
    padding: 1em;
}