.posts{
    margin: 5% 10%;
}

.posts-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
}

.posts-body{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.post-summary{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.post-info{
    justify-self: center;
    padding-top: 10%;
}

