<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/stylesheets/index/feed.css">
</head>

<body>
  <div class="posts">
    <div class="posts-header">
      <div class="header-title">Title</div>
      <div class="header-title">Author</div>
      <div class="header-title">Published</div>
    </div>
    <div class="post">

      <div class="posts-body">
        <div class="post-summary">
          <h3>My first post</h3>
          <p>lorem ipsure lorem ipsurelorem ipsurelorem
            ipsurelorem ipsurelorem ipsurelorem ipsurelorem
            ipsurelorem ipsurelorem ipsurelorem ipsure
          </p>
        </div>
        <p>Lolo</p>
        <p>18 Dec 2023</p>
      </div>
    </div>


  </div>
</body>

</html>