<div class = "posts">
  <div class="posts-header">
    <div class="header-title">Title</div>
    <div class="header-title">Author</div>
    <div class="header-title">Published</div>
  </div>
  <% @posts.each do |post|%>
    <div class="post">
      <div class="posts-body">
        <div class="post-summary">
          <h3><%= post.title %></h3>
          <p><%= post.body.truncate(100) %></p>
        </div>
        <p class='post-info'><%= User.find(post.user_id).username%></p>
        <p class='post-info'><%= post.created_at%></p>
      </div>
    </div>
  <%end%>
</div>
