<%# <p>Find me in app/views/posts/new.html.erb</p> %>
<div class="form-container">
  <%= render 'form', post: @post%>
  <br>
  <button class='back-button'>
    <%= link_to 'Back', posts_path, class: 'index-link' %>
  </button>
</div>
